[submodule "dlex_impl/ml-graph"]
	path = dlex_impl/ml-graph
	url = git@github.com:trungd/ml-graph.git
[submodule "dlex_impl/question_answering"]
	path = dlex_impl/question_answering
	url = git@github.com:trungd/question_answering.git
	branch = master
[submodule "dlex_impl/visual_reasoning"]
	path = dlex_impl/visual_reasoning
	url = git@github.com:trungd/visual_reasoning.git
    branch = master
